* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: Arial, Helvetica, sans-serif;
}
.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.video {
  width: 800px;
  width: 600px;
  background-color: gray;
}
.control {
  margin-top: 20px;
}
.btn {
  padding: 4px 16px;
  font-size: 16px;
  margin: 0 8px;
}
.message {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .control {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
  }
  .btn + .btn {
    margin-top: 8px;
  }
}
